@{
    ViewData["Title"] = "Products";
}

@model List<Product>

<div class="container">
    <h1>Slušalice</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Category</th>
                <th scope="col">Manufacturer</th>
                <th scope="col">Supplier</th>
                <th scope="col">Cost</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in @Model)
            {
                <tr>
                    <th scope="row">@product.Id</th>
                    <td>@product.Name</td>
                    <td>@product.Description</td>
                    <td>@product.Category</td>
                    <td>@product.Manufacturer</td>
                    <td>@product.Supplier</td>
                    <td>@product.Cost</td>
                </tr>
            }
        </tbody>
    </table>
</div>
