@{
    ViewData["Title"] = "Products";
}

@model List<Product>

<div class="container">
    <h3>Products DB implementation</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Category</th>
                <th scope="col">Manufacturer</th>
                <th scope="col">Supplier</th>
                <th scope="col">Cost</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in @Model)
            {
                <tr>
                    <th class="align-middle" scope="row">@product.Id</th>
                    <td class="align-middle">@product.Name</td>
                    <td class="align-middle">@product.Description</td>
                    <td class="align-middle">@product.Category</td>
                    <td class="align-middle">@product.Manufacturer</td>
                    <td class="align-middle">@product.Supplier</td>
                    <td class="align-middle">@product.Cost</td>
                    <td class="align-middle">
                        <a type="button" class="btn btn-outline-secondary btn-block" asp-action="Edit" asp-route-id="@product.Id">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a type="button" class="btn btn-outline-primary float-right mb-5" asp-action="Create">Create</a>
</div>
